@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("./assets/fonts/LeagueSpartan-Regular.ttf");
}

@font-face {
  font-family: "MetalMania";
  src: url("./assets/fonts/MetalMania-Regular.ttf");
}

@font-face {
  font-family: "Merienda";
  src: url("./assets/fonts/Merienda-Bold.ttf");
}

@font-face {
  font-family: "Niramit";
  src: url("./assets/fonts/Niramit-Regular.ttf");
}
